.friendMessage {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.friendImageAndText {

}

.friendImageAndText img {
    width: 40px;
    height: 40px;
    border-radius: 50%;



}

.friendText {
    width: 527px;
    height: 60px;
    border-radius: 5px 5px 5px 0;
    background-color: #bbc5d0;

}

.friendText:after {
    background-color: #007bff;
    color: #181616;
    align-self: flex-end;
    height: auto;
}

.friendName {
    font-size: 20px;
    font-weight: bold;
    color: #23231f;

}

.friendMessageText {
    width: 527px;
    height: 60px;
    border-radius: 5px 5px 5px 0;
    background-color: #bbc5d0;
    color: #23231f;
    align-self: flex-start;
}

.friendTime {
    font-size: 0.8em;
}
